* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    background-color: #E2EFD9;
    height: 350px;
    border: 1px solid;
}

#header {
    text-align: center;
    height: 50px;
    border-bottom: 1px solid;
}

#nav {
    width: 25%;
    height: 250px;
    float: left;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

#center {
    width: 50%;
    height: 250px;
    float: left;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

#section {
    float: left;
    width: 25%;
    height: 250px;
    border-bottom: 1px solid;
}

#footer {
    text-align: center;
}