*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    background-color: #8EAADB;
    height: 350px;
    border: 1px solid;
}

#header{
    height: 50px;
    border-bottom: 1px solid;
}

#nav{
    width: 25%;
    height: 250px;
    float: left;
    border-right: 1px solid;
}

#section {
    height: 250px;
    border-bottom: 1px solid;
}

#article {
    height: 200px;
    border: 1px solid;
    margin-left: 26%;
    margin-right: 1%;
    background-color: antiquewhite;
}