* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    background-color: #FFE599;
    height: 400px;
    border: 1px solid;
}
p {
    margin-left: 5px;
}
#header {
    height: 50px;
    border-bottom: 1px solid;
}
#nav {
    height: 25px;
    border-bottom: 1px solid;
}
#section {
    width: 70%;
    height: 250px;
    border-bottom: 1px solid;
    float: left;
    border-right: 1px solid ;
}
#article {
    height: 200px;
    border: 1px solid;
    margin: 1%;
}

#article1 {
    height: 99px;
    border-bottom: 1px solid;
    background-color:aliceblue;
}

#article2 {
    height: 99px;
    background-color:antiquewhite;
}

#aside {
    height: 250px;
    border-bottom: 1px solid;
}