* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main {
    background-color: #A8D08D;
    height: 400px;
    border: 1px solid;
}

#header {
    height: 50px;
    border-bottom: 1px solid;
}
#nav {
    height: 25px;
    border-bottom: 1px solid;
}
#section {
    height: 250px;
    border-bottom: 1px solid;
}
#article {
    height: 200px;
    border: 1px solid;
    background-color: antiquewhite;
    margin: 1%;
}